.wrapperPage{
    padding: 2rem;
    gap:1rem;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
h1{
    margin: 0;
}
.cardContainer{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
}
.card >img {
    width: 200px;
}

.tag{
    background-color: #ef4f5f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem;
    width: fit-content;
}
button {
    background-color: #ef4f5f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem;
  }
  
  button:hover {
    background-color: #d93d4c;
  }
  
  button:focus {
    outline: none;
  }
  button:disabled{
    opacity: 0.5;
  }