
.cardContainer{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
}
.card >img {
    width: 200px;
}
button {
    background-color: #ef4f5f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d93d4c;
  }
  
  button:focus {
    outline: none;
  }